.header-container {
  padding-top: 30px;
  text-align: right;

  .btn-metamask {
    border: 1px solid #fa7139;
    background: #fa7139;
    color: #ffffff;
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: 600;

    img {
      margin-right: 15px;
    }
  }
}

.btn-metamask-disconnect {
  border: 1px solid #fa7139;
  background: #fa7139;
  color: #ffffff;
  border-radius: 50px;
  padding: 10px 30px;
  font-weight: 600;
}